version: OxyTools {build}
pull_requests:
  do_not_increment_build_number: true
shallow_clone: true
image: Visual Studio 2017
configuration: Release
platform: x64
build:
  project: code/xrUtils.sln
  publish_wap: true
  parallel: true
  verbosity: quiet
after_build:
- cmd: >-
    cd game\
    
    md bins\
    
    cd ..\binaries\x64\Release
    
    copy *.dll ..\..\..\game\bins
    
    copy *.exe ..\..\..\game\bins
    
    cd ..\..\..\
    
    7z a xrOxygen.7z .\game
    
    echo appveyor PushArtifact xrOxygen.7z Release
    
    appveyor PushArtifact xrOxygen.7z
    
artifacts:
- path: .\xrOxygen.7z
  name: Release
deploy:
- provider: GitHub
  auth_token:
    secure: 1OAwfSrwEQtGa28QEVVJhqs4SQH/9nfoiUnL04rBkGCjuP+3mJIWTg1Usmle6mP/
  repository: xrOxygen/xray-oxygen
  artifact: Release
  prerelease: true
  force_update: true
  on:
    appveyor_repo_tag: true
    Dep: Test
