*.suo
*.html
*.pdb
*.ipch
*.exp
*.metagen
*.ipdb
*.tlog
*.opendb
*.iobj
*.user
*.obj
*.log
*.pch
*.ilk
*.idb
*.lnk
*.obj
*.aps
*.db
*.tmp
*.cache

binaries/
intermediatex64/
librariesx64/
/.vs/
/code/.vs/
/code/engine.vc2008/.vs/
/code/engine.vc2008/xrScripts/BuildVm.exe
/code/utils/.vs/
/code/utils/.vs/
/code/editors/xrPostprocessEditor/obj/
/code/editors/xrSdkControls/obj/
/code/editors/.vs/
/code/xrQt/xrDevLaunch/GeneratedFiles/
/code/xrQt/xrDevLaunch/debug/
/code/xrQt/xrDevLaunch/release/
*.db-shm
*.db-wal

game/gamedata_/
game/gamedata/configs/coordinates.ltx

*.lib

*.psess

*.vspx
/intermediateWin32/nvtt/Release/*.res
code/engine.vc2008/xrCore/GitParser/GitParser.exe
code/engine.vc2008/xrCore/oxy_version.h
