*.suo
*.html
*.pdb
*.ipch
*.exp
*.metagen
*.ipdb
*.tlog
*.opendb
*.iobj
*.user
*.obj
*.log
*.pch
*.ilk
*.idb

engine.VC.db

binaries/
librarieswin32/
intermediatex64/
intermediatewin32/
librariesx64/
*.lnk
*.db
code/engine.vc2008/.vs/
code/engine.vc2008/xrScripts/BuildVm.exe
