*.suo
*.html
*.pdb
*.ipch
*.exp
*.metagen
*.ipdb
*.tlog
*.opendb
*.iobj
*.user
*.obj
*.log
*.pch
*.ilk
*.idb
*.lnk
*.obj
*.aps
*.db
*.tmp
*.cache
*.lib
*.psess
*.vspx
*.res
*.db-shm
*.db-wal
*.bat

binaries/
intermediatex64/
librariesx64/
/.vs/
/code/.vs/
/code/engine.vc2008/.vs/
/code/engine.vc2008/xrScripts/BuildVm.exe
/code/utils/.vs/
/code/utils/.vs/
/code/editors/xrPostprocessEditor/obj/
/code/editors/xrSdkControls/obj/
/code/editors/.vs/
/code/xrQt/xrDevLaunch/GeneratedFiles/
/code/xrQt/xrDevLaunch/debug/
/code/xrQt/xrDevLaunch/release/
code/engine.vc2008/xrCore/GitParser/GitParser.exe
code/engine.vc2008/xrCore/oxy_version.h
code/editors/xrEditor/obj
code/utils/xrMaker/obj/
code/utils/xrMaker/bin/

game/gamedata_/
game/gamedata/configs/coordinates.ltx
code/editors/xrLayoutEditor/obj/Debug/xrLayoutEditor_MarkupCompile.i.lref
code/editors/xrLayoutEditor/obj/Debug/xrLayoutEditor.g.resources
code/editors/xrLayoutEditor/obj/Debug/MainWindow.g.i.cs
code/editors/xrLayoutEditor/obj/Debug/MainWindow.g.cs
code/editors/xrLayoutEditor/obj/Debug/MainWindow.baml
code/editors/xrLayoutEditor/obj/Debug/App.g.cs
code/editors/xrLayoutEditor/obj/Debug/xrLayoutEditor.Properties.Resources.resources
code/editors/xrLayoutEditor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
code/editors/xrLayoutEditor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
code/editors/xrLayoutEditor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
code/editors/xrLayoutEditor/obj/Debug/xrLayoutEditor.csproj.FileListAbsolute.txt
code/editors/xrLayoutEditor/obj/Debug/xrLayoutEditor.csproj.CopyComplete
code/editors/xrLayoutEditor/obj/Debug/App.g.i.cs
code/editors/xrLayoutEditor/obj/Debug/xrLayoutEditor_MarkupCompile.lref
/code/editors/xrEditor/FakesAssemblies
/code/editors/xrLayoutEditor/obj/Release

code/Setup/Output
/code/engine.vc2008/CrashStack/obj/
